#!/bin/sh

{% if presync is defined %}
{% for command in presync %}
{{ command }}
{% endfor %}
{% endif %}

docker run --rm --volume {{ volume }}:/mnt --volume ~/.ssh:/root/.ssh \
    rss-sync-minion rsync --archive --delete \
    --rsh="ssh -i {{ client_key_file }}" \
    /mnt/ \
    rsync://{{ rss_server_host }}/{{ client_name }}/{{ dest }}

{% if postsync is defined %}
{% for command in postsync %}
{{ command }}
{% endfor %}
{% endif %}
