#!/bin/sh

{% if presync is defined %}
{% for command in presync %}
{{ command }}
{% endfor %}
{% endif %}

docker run --rm --volume {{ volume }}:/mnt --volume ~/.ssh:/root/.ssh \
    rss-sync-minion rsync --archive --delete \
    /mnt/ {{ client_rsh_remote }}/{{ dest }}

{% if postsync is defined %}
{% for command in postsync %}
{{ command }}
{% endfor %}
{% endif %}
