#!/bin/sh

{% if presync is defined %}
{% for command in presync %}
{{ command }}
{% endfor %}
{% endif %}

rsync --archive --delete {{ src }} {{ client_rsh_remote }}/{{ dest }}

{% if postsync is defined %}
{% for command in postsync %}
{{ command }}
{% endfor %}
{% endif %}
